#mapid {
  height: 400px;
  width: 400px;
  margin: 40px auto;
}

#locate-position {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.find {
  width: 200px;
  margin: 20px auto;
}

.find form {
  display: flex;
  flex-direction: column;
}

.find form select, .find form input {
  margin-top: 10px;
}

.me {
  max-width: 350px;
  margin: 0 auto;
}

.me span {
  margin-left: 10px;
}

h3 {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 20px;
}

.hint {
  margin-top: 50px;
  text-align: center;
  font-size: 1.2rem;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

table.hash {
  margin-bottom: 20px;
}

table.hash td {
  text-align: left;
}

table.hash a {
  color: #000;
  text-decoration: none;
}

.table-fixed-head {
  table-layout: fixed;
  border-collapse: collapse;
  height: 50vh;
}

.table-fixed-head th,
.table-fixed-head td {
  padding: 5px;
  text-align: center;
  width: 33.333vw;
}

.table-fixed-head thead {
  background-color: #333;
  color: #fdfdfd;
}

.table-fixed-head thead tr {
  display: block;
  position: relative;
}

.table-fixed-head tbody {
  display: block;
  overflow: auto;
  width: 100%;
  height: calc(50vh - 30px);
}

.table-fixed-head tbody tr:nth-child(even) {
  background-color: #ddd;
}
